@page
@model AirportWeatherAPP.Pages.AlertCRUD.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Alert</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Alert.CommunicationText)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Alert.CommunicationText)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Alert.Observation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Alert.Observation.ObservationId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Alert.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Alert.User.UserId)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Alert.AlertId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
